<html>
<body>
<h2> Here are the parentsdb in the database:</h2>
<h3>ID: <%= parentsdb.parent_id %></h3>
<h3>Display Name: <%= parentsdb.display_name %></h3>
<h3>Email: <%=parentsdb.email %></h3>
<hr>

</body>
</html>